.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-left: 25%;
  height: 400px;
  width: 840px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
}
