* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #1b1a55;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 840px;
  border-radius: 10px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
}
