.nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  margin: auto;
  gap: 25px;
  background-color: #090979;
  height: 100px;
}

.nav a {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  height: 100%;
  display: flex;
  align-items: center;
}

a:hover {
  background-color: #400cbb;
}

a:active {
  background-color: #5a22df94;
}
