@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

.nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  margin: auto;
  gap: 25px;
  background-color: #1c0257;
  height: 100px;
}

.nav a {
  text-decoration: none;
  background-color: transparent;
  font-family: "Poetsen One", sans-serif;
  color: #fff;
  font-size: 24px;
  height: 100%;
  display: flex;
  align-items: center;
}

a:hover {
  background-color: #400cbb;
}
