@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1b1a55;
}

.App {
  font-family: "Poetsen One", sans-serif;
}
